.cubeContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
}
.about-me {
    height: 200px;
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: -20px;
}

.home {
    padding-top: 125px;
    max-width: 100%;
}

.special {
    text-align: center;
    margin-bottom: 25px;
    width: 20%;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.5) !important; 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.tech {
    text-align: center;
    margin-bottom: 10px;
    width: 30%;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.5) !important; 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.likewhat {
    height: 70px ;
    width: 15% ;
    margin-top: 29px;
    padding-top: 5px;
    padding-bottom: 4px;
    text-align: center;
    margin-right: 20px;
    background-color: rgba(245, 245, 245, 0.5) !important; 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.contactMe {
    margin-top: 22px;
    height: 40px ;
}

.portfolio-block {
    display: flex !important;
    align-items: center !important;
}

.stage-cube-cont {
    height: 400px;
    padding-top: 9%;
    margin-left: 0;
    position: absolute;
    overflow: hidden;
    right: -180px;
        top: 30px;
        width: 600px;
}
.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
}
.cubespinner div {
    position: absolute;
    width: 130px;
    height: 130px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 16px 0px rgba(255, 219, 228, 0.404);
}
.cubespinner .face1 {
    transform: translateZ(65px);
    color: #a600dd;
}
.cubespinner .face2 {
    transform: rotateY(90deg) translateZ(65px);
    color: #f06529;
}
.cubespinner .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(65px);
    color: #28a4d9;
}
.cubespinner .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(65px);
    color: #5ed4f4;
}
.cubespinner .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(65px);
    color: #efd81d;
}
.cubespinner .face6 {
    transform: rotateX(-90deg) translateZ(65px);
    color: #ec4d28;
}
@keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
    }
    33% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }


.btn {
    text-transform: uppercase;
    position: relative;
    border-radius: 0 !important;
    border: none;
    transition:all 0.3s ease 0s;
}
.btn:hover,
.btn.active:hover{
    color: #ffffff;
}
.btn:before{
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color:  rgba(3, 255, 230, 0.476) !important;
    width: 30%;
    height: 3px;
    transition:all 0.3s ease 0s;
}
.btn:after{
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color:  rgba(3, 255, 230, 0.476) !important;
    width: 30%;
    height: 3px;
    transition:all 0.3s ease 0s;
}
.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after{
    width: 100%;
    background-color:rgb(0, 144, 144) !important;
}

.btn-bd-primary {
    font-weight: 600!important;
    color: white !important;
    background-color:violet !important;
    border-color: violet !important;
    border-radius: .5rem !important;
  }

  .btn-bd-primary:hover {
    color: white !important;
    background-color:  rgba(3, 226, 255, 0.814) !important;
    border-color: rgba(3, 226, 255, 0.814) !important;
  }
  .btn-bd-primary:active {
    color: white !important;
    background-color: rgba(3, 255, 255, 0.243)  !important;
    border-color:  rgba(3, 255, 255, 0.288)  !important;
  }

  @media screen and (max-width: 1400px) {
    .likewhat {
        
    }
    .stage-cube-cont {
        
    }
  }

  @media screen and (max-width: 992px) {
    .special {
        width: 36%;
        height: 36px;
    }
    .tech {
        height: 72px;
    }
    .likewhat {
        height: 70px ;
        width: 22% ;
    }
  }

  @media screen and (max-width: 768px) {
    .likewhat {
        height: 70px ;
        width: 22% ;
    }
    .tech {
        width: 48%;
        height: 40px;
    }
    .fullStack {
        height: 80px ;
    }
    .about-me {
        margin-left: 120px ;
        margin-bottom: 110px ;
    }
    .stage-cube-cont {
        right: 40px ;
        top: 230px;
        width: 80%;
    }
  }

  @media screen and (max-width: 575px){
    .btn {
        margin-bottom: 50px !important;
    }
    .contactMe {
        margin-bottom: 0px !important;
    }
    /* .stage-cube-cont {
        right: 0px;
        top: 200px;
        width: 600px;
    } */
}
@media screen and (max-width: 525px){
.stage-cube-cont {
    padding-left: 260px;
    top: 250px;
    width: 600px;
}
}

@media screen and (max-width: 465px){
    .stage-cube-cont {
        padding-left: 340px;
    top: 250px;
    width: 600px;
    }
    .about-me {
        margin-left: 90px ;
        margin-bottom: 110px ;
    }
    .likewhat {
        height: 70px ;
        width: 42% ;
    }
    }

  @media screen and (max-width: 300px) {
    .likewhat {
        height: 70px ;
        width: 22% ;
    }
    .tech {
        width: 48% ;
        height: 40px ;
    }
    .fullStack {
        width: 78% ;
    }
    .about-me {
        margin-left: 70px ;
        margin-bottom: 110px ;
    }
    .stage-cube-cont {
        right: 80px ;
        top: 180px;
        width: 100%;
    }
  }

  @media screen and (max-width: 300px) {
    .likewhat {
        height: 60px ;
        width: 40% ;
    }
    .contactMe {
        margin-top: 20px;
    }
    .special {
        width: 44% ;
        height: 38px ;
        padding-top: 2px ;
    }
    .tech {
        width: 58% ;
        height: 36px ;
        padding-top: 2px ;
    }
  }