@media screen and (max-width: 1200px) {
    .recent {
        width: 28% !important;
    }
}

@media screen and (max-width: 1000px) {
    .recent {
        width: 32% !important;
    }
}

@media screen and (max-width: 768px) {
    .recent {
        width: 38% !important;
        margin-top: 25px;
        padding-top: 4px;
    }
}

@media screen and (max-width: 468px) {
    .recent {
        width: 48% !important;
    }
}