@media screen and (max-width: 510px) {
    .bi {
        font-size: 24px !important;
    }
    .text-light {
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .socials {
        text-align: center;
    }
}