html, body {
    width: auto;
}

@media screen and (max-height: 800px) {
    html {
    min-height: auto;
    }
}

body, #app, app>div, #root {
    background-color: transparent !important;
}

html {
    background-image: url(./components/img/home/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 900px;
}