html {
    width: 100%;
    overflow-x: hidden;
    /* height: 100%; */
}
/* body {
    min-height: 100%
} */

body, #app, app>div, #root {
    background-color: transparent !important;
}

html {
    background-image: url(./components/img/home/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}